body {
}

h1 {
}

p {
}

button.active {
    background: black;
    color: white;
  }
  /* This shows the active div. */
div.active {
/*  border: 5px solid red; */
display: block;
}
/* This hides the inactive divs */
div.inactive {
display: none;
}